# Secrets / local config
config.py
adafruit/config.py

# Python cache
__pycache__/
*.pyc

# VS Code local settings
.vscode/

# MicroPython / build artifacts
*.mpy

# Graphs
light_log.csv
temp_pwm_log.csv